.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.idea/**
test_eps/**
demo/**
.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.gitignore-revs
.mailmap
.prettierignore
.prettierrc
.yarnrc
.github/**
.vscode-test/**
CODE_OF_CONDUCT.md
CONTRIBUTING.md
generateEmojiShortcodeMap.js
tsconfig.eslint.json
tsconfig.json
tsconfig.webviews.json
tsconfig.tsbuildinfo
webpack.config.js
yarn.lock
node_modules/pdfjs-dist/legacy/**
node_modules/pdfjs-dist/types/**
node_modules/pdfjs-dist/web/**
src/test/**
demo/**
docs/**