.vscode/**
.vscode-test/**
.github/**
.yarn/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.idea/**
test_eps/**
demo/**
.eslintcache
.eslintignore
.eslintrc.json
eslint.config.js
.gitattributes
.gitignore
.gitignore-revs
.mailmap
.prettierignore
.prettierrc
.yarnrc.yml
ANTIGRAVITY.md
TESTING.md
docs/**
examples/**
CODE_OF_CONDUCT.md
CONTRIBUTING.md
generateEmojiShortcodeMap.js
tsconfig.eslint.json
tsconfig.json
tsconfig.webviews.json
tsconfig.tsbuildinfo
webpack.config.js
yarn.lock
